In [2]:
# Importing the libraries 

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

# Set to display all the columns in dataset

pd.set_option("display.max_columns", None)

# Import psql to run queries 

import pandasql as psql

In [3]:
# Load the HR data 

missdata = pd.read_csv(r"C:\Users\Narasimha Reddy\OneDrive\Desktop\intern\Claims_Data_Missing_Values.csv", header=0)

missdata

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,NaN,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,NaN
4,CL-1712003,140846711.0,NaN,Car,NaN,1567.45,2934.25
5,CL-1518709,126885444.0,NaN,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,NaN,0.0,NaN,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,NaN,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,NaN
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,NaN,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,NaN,1495.15,NaN
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,NaN,Truck,0.0,NaN,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,NaN,921.75
17,CL-1353387,181411853.0,29.0,Truck,NaN,1401.25,NaN
18,CL-1337183,141365962.0,NaN,Car,1.0,1672.75,5919.15
19,CL-1969136,NaN,45.0,Van,1.0,NaN,NaN
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [4]:
#display the null values in the dataset 
missdata.isnull().sum()

Claim_ID       0
Policy_Num     1
Driver_Age     6
Policy_Type    1
Pre_Claims     4
Premium_AMT    4
Claim_AMT      5
dtype: int64

In [5]:
num_vars=missdata.columns[missdata.dtypes!='object']
cat_vars=missdata.columns[missdata.dtypes=='object']
print(num_vars)
print(cat_vars)

Index(['Policy_Num', 'Driver_Age', 'Pre_Claims', 'Premium_AMT', 'Claim_AMT'], dtype='object')
Index(['Claim_ID', 'Policy_Type'], dtype='object')

In [6]:
#create new file with filled "0" where it was null
missdata_01=missdata.fillna(0)
#print dataset
missdata_01

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,0.0,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,0.00
4,CL-1712003,140846711.0,0.0,Car,0.0,1567.45,2934.25
5,CL-1518709,126885444.0,0.0,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,0,0.0,0.00,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,0.0,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,0.00
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,0.0,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,0.0,1495.15,0.00
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,0.0,Truck,0.0,0.00,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,0.00,921.75
17,CL-1353387,181411853.0,29.0,Truck,0.0,1401.25,0.00
18,CL-1337183,141365962.0,0.0,Car,1.0,1672.75,5919.15
19,CL-1969136,0.0,45.0,Van,1.0,0.00,0.00
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [7]:
#convert float to integer value of dataset
missdata_01['Driver_Age']=missdata_01['Driver_Age'].astype(int)
missdata_01['Policy_Num']=missdata_01['Policy_Num'].astype(int)
missdata_01['Pre_Claims']=missdata_01['Pre_Claims'].astype(int)
#display data
missdata_01

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871,25,Car,0,1272.45,12634.25
1,CL-1742889,135517422,26,Truck,0,1052.25,8956.15
2,CL-1384474,176552663,19,Car,1,1389.75,3691.65
3,CL-1283351,157711099,35,Car,0,980.85,0.00
4,CL-1712003,140846711,0,Car,0,1567.45,2934.25
5,CL-1518709,126885444,0,Van,0,1173.95,590.65
6,CL-1661021,191874052,61,0,0,0.00,1492.35
7,CL-1622931,184558739,38,Van,0,1146.95,962.15
8,CL-1470986,179027710,0,Van,1,1453.65,2691.95
9,CL-1886922,179500989,53,Truck,0,1252.25,0.00
10,CL-1727554,176634765,60,Car,1,1584.75,6924.15
11,CL-1984398,124196289,0,Van,0,1264.25,650.95
12,CL-1927305,132014482,34,Car,0,1135.45,350.95
13,CL-1543745,173697008,29,Truck,0,1495.15,0.00
14,CL-1525750,130465403,36,Car,0,1123.25,264.75
15,CL-1773900,154882349,0,Truck,0,0.00,598.65
16,CL-1354933,154877763,52,Van,0,0.00,921.75
17,CL-1353387,181411853,29,Truck,0,1401.25,0.00
18,CL-1337183,141365962,0,Car,1,1672.75,5919.15
19,CL-1969136,0,45,Van,1,0.00,0.00
20,CL-1893203,161682966,65,Car,0,1425.65,736.95

In [8]:
missdata_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Claim_ID     21 non-null     object
 1   Policy_Num   21 non-null     int32
 2   Driver_Age   21 non-null     int32
 3   Policy_Type  21 non-null     object
 4   Pre_Claims   21 non-null     int32
 5   Premium_AMT  21 non-null     float64
 6   Claim_AMT    21 non-null     float64
dtypes: float64(2), int32(3), object(2)
memory usage: 1.0+ KB

create a newfile -missdata_02

In [9]:
missdata_02=missdata.fillna({'Driver_Age':40,
                            'Policy_Num':123456789,
                            'Policy_Type':'None',
                            'Pre_Claims':0,
                            'Premium_AMT':0,
                            'Claim_AMT':0})
missdata_02

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,0.0,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,0.00
4,CL-1712003,140846711.0,40.0,Car,0.0,1567.45,2934.25
5,CL-1518709,126885444.0,40.0,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,None,0.0,0.00,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,40.0,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,0.00
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,40.0,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,0.0,1495.15,0.00
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,40.0,Truck,0.0,0.00,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,0.00,921.75
17,CL-1353387,181411853.0,29.0,Truck,0.0,1401.25,0.00
18,CL-1337183,141365962.0,40.0,Car,1.0,1672.75,5919.15
19,CL-1969136,123456789.0,45.0,Van,1.0,0.00,0.00
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [10]:
#convert float to integer value of dataset
missdata_01['Driver_Age']=missdata_01['Driver_Age'].astype(int)
missdata_01['Policy_Num']=missdata_01['Policy_Num'].astype(int)
missdata_01['Pre_Claims']=missdata_01['Pre_Claims'].astype(int)
#display data
missdata_01

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871,25,Car,0,1272.45,12634.25
1,CL-1742889,135517422,26,Truck,0,1052.25,8956.15
2,CL-1384474,176552663,19,Car,1,1389.75,3691.65
3,CL-1283351,157711099,35,Car,0,980.85,0.00
4,CL-1712003,140846711,0,Car,0,1567.45,2934.25
5,CL-1518709,126885444,0,Van,0,1173.95,590.65
6,CL-1661021,191874052,61,0,0,0.00,1492.35
7,CL-1622931,184558739,38,Van,0,1146.95,962.15
8,CL-1470986,179027710,0,Van,1,1453.65,2691.95
9,CL-1886922,179500989,53,Truck,0,1252.25,0.00
10,CL-1727554,176634765,60,Car,1,1584.75,6924.15
11,CL-1984398,124196289,0,Van,0,1264.25,650.95
12,CL-1927305,132014482,34,Car,0,1135.45,350.95
13,CL-1543745,173697008,29,Truck,0,1495.15,0.00
14,CL-1525750,130465403,36,Car,0,1123.25,264.75
15,CL-1773900,154882349,0,Truck,0,0.00,598.65
16,CL-1354933,154877763,52,Van,0,0.00,921.75
17,CL-1353387,181411853,29,Truck,0,1401.25,0.00
18,CL-1337183,141365962,0,Car,1,1672.75,5919.15
19,CL-1969136,0,45,Van,1,0.00,0.00
20,CL-1893203,161682966,65,Car,0,1425.65,736.95

In [11]:
#Missing values with forward fill
missdata_03=missdata.fillna(method="ffill")
missdata_03

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,0.0,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,3691.65
4,CL-1712003,140846711.0,35.0,Car,0.0,1567.45,2934.25
5,CL-1518709,126885444.0,35.0,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,Van,0.0,1173.95,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,38.0,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,2691.95
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,60.0,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,0.0,1495.15,350.95
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,36.0,Truck,0.0,1123.25,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,1123.25,921.75
17,CL-1353387,181411853.0,29.0,Truck,0.0,1401.25,921.75
18,CL-1337183,141365962.0,29.0,Car,1.0,1672.75,5919.15
19,CL-1969136,141365962.0,45.0,Van,1.0,1672.75,5919.15
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [12]:
#forward fill with limit option
missdata_04=missdata.fillna(method="ffill",limit=1)
missdata_04

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,0.0,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,3691.65
4,CL-1712003,140846711.0,35.0,Car,0.0,1567.45,2934.25
5,CL-1518709,126885444.0,NaN,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,Van,0.0,1173.95,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,38.0,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,2691.95
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,60.0,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,0.0,1495.15,350.95
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,36.0,Truck,0.0,1123.25,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,NaN,921.75
17,CL-1353387,181411853.0,29.0,Truck,0.0,1401.25,921.75
18,CL-1337183,141365962.0,29.0,Car,1.0,1672.75,5919.15
19,CL-1969136,141365962.0,45.0,Van,1.0,1672.75,5919.15
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [13]:
#Missing values with back fill
missdata_05=missdata.fillna(method="bfill")
missdata_05

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,1.0,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,2934.25
4,CL-1712003,140846711.0,61.0,Car,0.0,1567.45,2934.25
5,CL-1518709,126885444.0,61.0,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,Van,0.0,1146.95,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,53.0,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,6924.15
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,34.0,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,0.0,1495.15,264.75
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,52.0,Truck,0.0,1401.25,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,1401.25,921.75
17,CL-1353387,181411853.0,29.0,Truck,1.0,1401.25,5919.15
18,CL-1337183,141365962.0,45.0,Car,1.0,1672.75,5919.15
19,CL-1969136,161682966.0,45.0,Van,1.0,1425.65,736.95
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [14]:
#backward fill with limit option
missdata_06=missdata.fillna(method="bfill",limit=1)
missdata_06

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,1.0,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,2934.25
4,CL-1712003,140846711.0,NaN,Car,0.0,1567.45,2934.25
5,CL-1518709,126885444.0,61.0,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,Van,0.0,1146.95,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,53.0,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,6924.15
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,34.0,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,0.0,1495.15,264.75
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,52.0,Truck,0.0,NaN,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,1401.25,921.75
17,CL-1353387,181411853.0,29.0,Truck,1.0,1401.25,5919.15
18,CL-1337183,141365962.0,45.0,Car,1.0,1672.75,5919.15
19,CL-1969136,161682966.0,45.0,Van,1.0,1425.65,736.95
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [15]:
#use interpolate option
missdata_07=missdata.interpolate(method="linear",limit_direction='forward')
missdata_07

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.000000,Car,0.0,1272.450000,12634.25
1,CL-1742889,135517422.0,26.000000,Truck,0.5,1052.250000,8956.15
2,CL-1384474,176552663.0,19.000000,Car,1.0,1389.750000,3691.65
3,CL-1283351,157711099.0,35.000000,Car,0.0,980.850000,3312.95
4,CL-1712003,140846711.0,43.666667,Car,0.0,1567.450000,2934.25
5,CL-1518709,126885444.0,52.333333,Van,0.0,1173.950000,590.65
6,CL-1661021,191874052.0,61.000000,NaN,0.0,1160.450000,1492.35
7,CL-1622931,184558739.0,38.000000,Van,0.0,1146.950000,962.15
8,CL-1470986,179027710.0,45.500000,Van,1.0,1453.650000,2691.95
9,CL-1886922,179500989.0,53.000000,Truck,0.0,1252.250000,4808.05
10,CL-1727554,176634765.0,60.000000,Car,1.0,1584.750000,6924.15
11,CL-1984398,124196289.0,47.000000,Van,0.0,1264.250000,650.95
12,CL-1927305,132014482.0,34.000000,Car,0.0,1135.450000,350.95
13,CL-1543745,173697008.0,29.000000,Truck,0.0,1495.150000,307.85
14,CL-1525750,130465403.0,36.000000,Car,0.0,1123.250000,264.75
15,CL-1773900,154882349.0,44.000000,Truck,0.0,1215.916667,598.65
16,CL-1354933,154877763.0,52.000000,Van,0.0,1308.583333,921.75
17,CL-1353387,181411853.0,29.000000,Truck,0.5,1401.250000,3420.45
18,CL-1337183,141365962.0,37.000000,Car,1.0,1672.750000,5919.15
19,CL-1969136,151524464.0,45.000000,Van,1.0,1549.200000,3328.05
20,CL-1893203,161682966.0,65.000000,Car,0.0,1425.650000,736.95

In [16]:
#drop all null values in rows or columns
missdata_08=missdata.dropna()

#display

missdata_08

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [20]:
#drop all null values of columns
missdata_09=missdata.dropna(axis=1,how='any')
missdata_09

      Claim_ID
0   CL-1292034
1   CL-1742889
2   CL-1384474
3   CL-1283351
4   CL-1712003
5   CL-1518709
6   CL-1661021
7   CL-1622931
8   CL-1470986
9   CL-1886922
10  CL-1727554
11  CL-1984398
12  CL-1927305
13  CL-1543745
14  CL-1525750
15  CL-1773900
16  CL-1354933
17  CL-1353387
18  CL-1337183
19  CL-1969136
20  CL-1893203

In [18]:
missdata_10=missdata.dropna(axis=0,how='any')
missdata_10

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [21]:
#fill null values of each variable as calculated
missdata_11=missdata.fillna({'Driver_Age':29,'Policy_Num':123456789,'Policy_Type':'Car','Pre_Claims':1227.25,'Premium_AMT':1272.45,'Claim_AMT':0})
missdata_11

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.00,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,1227.25,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.00,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.00,980.85,0.00
4,CL-1712003,140846711.0,29.0,Car,1227.25,1567.45,2934.25
5,CL-1518709,126885444.0,29.0,Van,0.00,1173.95,590.65
6,CL-1661021,191874052.0,61.0,car,0.00,1272.45,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.00,1146.95,962.15
8,CL-1470986,179027710.0,29.0,Van,1.00,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.00,1252.25,0.00
10,CL-1727554,176634765.0,60.0,Car,1.00,1584.75,6924.15
11,CL-1984398,124196289.0,29.0,Van,0.00,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.00,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,1227.25,1495.15,0.00
14,CL-1525750,130465403.0,36.0,Car,0.00,1123.25,264.75
15,CL-1773900,154882349.0,29.0,Truck,0.00,1272.45,598.65
16,CL-1354933,154877763.0,52.0,Van,0.00,1272.45,921.75
17,CL-1353387,181411853.0,29.0,Truck,1227.25,1401.25,0.00
18,CL-1337183,141365962.0,29.0,Car,1.00,1672.75,5919.15
19,CL-1969136,123456789.0,45.0,Van,1.00,1272.45,0.00
20,CL-1893203,161682966.0,65.0,Car,0.00,1425.65,736.95

In [22]:
#convert float to integer value of dataset
missdata_11['Driver_Age']=missdata_11['Driver_Age'].astype(int)
missdata_11['Policy_Num']=missdata_11['Policy_Num'].astype(int)
missdata_11['Pre_Claims']=missdata_11['Pre_Claims'].astype(int)
#display data
missdata_11

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871,25,Car,0,1272.45,12634.25
1,CL-1742889,135517422,26,Truck,1227,1052.25,8956.15
2,CL-1384474,176552663,19,Car,1,1389.75,3691.65
3,CL-1283351,157711099,35,Car,0,980.85,0.00
4,CL-1712003,140846711,29,Car,1227,1567.45,2934.25
5,CL-1518709,126885444,29,Van,0,1173.95,590.65
6,CL-1661021,191874052,61,car,0,1272.45,1492.35
7,CL-1622931,184558739,38,Van,0,1146.95,962.15
8,CL-1470986,179027710,29,Van,1,1453.65,2691.95
9,CL-1886922,179500989,53,Truck,0,1252.25,0.00
10,CL-1727554,176634765,60,Car,1,1584.75,6924.15
11,CL-1984398,124196289,29,Van,0,1264.25,650.95
12,CL-1927305,132014482,34,Car,0,1135.45,350.95
13,CL-1543745,173697008,29,Truck,1227,1495.15,0.00
14,CL-1525750,130465403,36,Car,0,1123.25,264.75
15,CL-1773900,154882349,29,Truck,0,1272.45,598.65
16,CL-1354933,154877763,52,Van,0,1272.45,921.75
17,CL-1353387,181411853,29,Truck,1227,1401.25,0.00
18,CL-1337183,141365962,29,Car,1,1672.75,5919.15
19,CL-1969136,123456789,45,Van,1,1272.45,0.00
20,CL-1893203,161682966,65,Car,0,1425.65,736.95